<section class="todoapp">
  <header class="header">
    <h1>to do list</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What do you need to do?" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>


<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Andrew Brink", "http://github.com/abrink27" %>
</section>

